<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2016 Polls</title>
    <link href="https://coders.forsanders.com/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .center {
        text-align: center;
      }

      body {
        <%#background-image: url("https://s.bsd.net/bernie16/main/page/-/Wrapper%20Images/splash-bg-SC-602.jpg");%>
        <%#background-size: 1401px 734px;%>
        <%#background-repeat: no-repeat;%>
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
